.voltichange-widget {
  width: 500px;
  height: 760px;
}

@media (max-width: 505px) {
  .voltichange-widget {
    width: 85vw;
    margin: 0 auto;
    height: 590px;
  }
}
i{
  font-family: FontAwesome;
}
.team-members {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
  gap: 20px; /* Adds spacing between spans */
}

.team-members span {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc; /* Optional: adds a border for better visibility */
  border-radius: 8px; /* Optional: rounded corners */
}
